/* Selectores */

/* Universal */
*{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin: 0px;
      padding: 10px;
}

/* Etiqueta */
h1{
      font-size: 64px;
      background: antiquewhite;
      padding: 10px;
}

a{
      font-size: 18px;
      color: seagreen;
      text-decoration: none;
}

footer a{
      font-size: 18px;
      color: red;
      text-decoration: none;

}
/* Id */
/* Clase */
/* atributo */