body{
      text-align: center;
}

.layout{

      width: 1200px;
      height: 400px;
      margin: 0px auto;
      display:grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr) 3fr;
      border: 3px solid orangered;
      padding: 10px;
}

.layout .caja{
      font-size: 20px;
      font-weight: bold;
      color:black;
      padding: 20px;
      border: 4px solid #222;
      background-color: gray;

}

.layout .red{
      grid-column: 1 / 4;
      background-color: lightcoral;
}
.layout .blue{
      grid-column: 2 / 4;
      background-color: lightblue;
}
.layout .green{
      grid-row-start: 2;
      grid-row-end: 4;
      background-color: lightgreen;
}
.layout .pink{
      grid-column: 2 / 3;
      background-color: lightpink;
}

.layout .salmon{
      background-color: lightsalmon;
}

.layout .yellow{
      grid-column-start: 1;
      grid-column-end: 4;
      background-color: lightyellow;
}