
@font-face {
      font-family: RobotoFuenteCustom;
      src: url(fuentes/Roboto/Roboto-Regular.ttf);
}
h1{
      font-family: RobotoFuenteCustom;
      font-size: 50px;
      font-style: oblique;

      /*colores: sistema, Hex, RGB, RGBA*/
      color: mediumaquamarine;
      color: #593232;


}

h3{
      font-family: 'Courier New', Courier, monospace;
      font-size: 25px;
}

p {
      font-family: 'Times New Roman', Times, serif;
      font-size: xx-large;
      font-weight: bolder;
}